*{
    margin: 0;
    padding: ;
} 
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
h1{
    font-family: cursive;
    text-align: center;
}
.nav-links a{
    text-decoration: none;
    color: black;
   
}
.nav-links{
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.logo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    flex: 1;
    padding: 10px;
}
footer{
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 20px;
    text-align: center;

}
main{
    background-color: rgb(221, 221, 220);
}
main ul{
    list-style-type: none;
}
main h1{
    padding-top: 50px;
}